<header id="topnav">
    <a class="active" href="/home">HOME</a>
    <a href="/tickets">TICKETS</a>
    <a href="/login" (click)="logout()">LOGOUT</a>
</header>
<div>
    <input type="button" value="Create" class="login-button" (click)="onCreate()"/>
</div>
<div>
<table border=1>
<tr>  
  <th>TICKETS</th>
  <th>COMMENTS</th>
</tr>
<tr *ngFor="let insert of final ">
         
    <td>{{insert.ticket}}</td>
    <td>{{insert.comment}}</td>
    
  </tr>

</table>



</div>
<footer class="ft">
<h5>© Copyright 2011-2018 www.w3c.com. All rights reserved. Developed by SSS IT Pvt Ltd (w3c)</h5>
</footer>
