<div>
  <h1 id="head">Ticket Creation</h1>
    <form action="task.html" method="post">
        
        <div>
            <label for="msg">Tickets:</label>
             <input type="text" id="pass" name="ticket" />
        </div>
        <div>
            <label for="msg">Comments:</label>
             <input type="text" id="comments" name="comment" />
        </div>
      
      
        
        <div id="button">
            <input type="button" value="Submit" class="btn" (click)="onClick()">
        </div>
    </form>
    </div>